/* yes, I went there... with SASS even -jbs */
.red { background: #ff0000; }
.green { background: #7ab901; }
.purple { background: #a133ff; }
.yellow { background: #ffcc33; }

.ui-btn-active {
	border: 1px solid #141414;
	background: #3e3e3e;
	color: #fff;
    text-shadow: 0 -1px 1px #737373;
	background-image: -moz-linear-gradient(top, #7f7f7f, #2d2d2d);
	background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #7f7f7f), color-stop(1, #2d2d2d));
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f7f7f', EndColorStr='#2d2d2d')";
}

.ui-icon-golddot {
    background: url('../img/golddot.png') no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-greendot {
    background: url('../img/greendot.png') no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-orangedot {
    background: url('../img/orangedot.png') no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-purpledot {
    background: url('../img/purpledot.png') no-repeat rgba(0, 0, 0, 0.4) !important;
}
.alignright {
    float: right;
    margin: 0 10px 10px 10px;
}
.pushdown20 {
    margin-top: 20px
}

.small {
    font-size: 11px;
    font-weight: 400;
    color: #3d3d3d;
}